node_modules
.next
.git
.gitignore

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
.nyc_output

Dockerfile*
docker-compose*
README*
tree*

.vscode
.idea
*.swp
*.swo

*.log

terraform
kubernetes
gitops
helm

.DS_Store
Thumbs.db
